/*
	tswnavbar.css	1.0.6
	Please use the CSS Menu Button Wizard at
		http://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcssbuttons {
	width: 180px ;
	text-align: center ;
}
#tswcssbuttons ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
}
#tswcssbuttons li {
	margin: 0 ;
	padding: 0 ;
	display: block ;
	list-style: none ;
	font-family: Arial, Helvetica, sans-serif ;
}
#tswcssbuttons li a {
	color: #fff ;
	background-color: #007d48 ;
	border: 1px outset #bfffe4 ;
	width: 180px ;
	text-decoration: none ;
	display: block ;
}
#tswcssbuttons li a:hover {
	color: #fff ;
	background-color: #00b366 ;
}
